PORT=5001
NODE_ENV=development

MONGODB_URI=mongodb+srv://ismuandel_db_user:bPowDld20k3R2WW4@maincluster.d6mkeh5.mongodb.net/?appName=MainCluster

JWT_SECRET=your_very_strong_secret_here_min_32_chars

CLOUDINARY_CLOUD_NAME=dfhfjetid
CLOUDINARY_API_KEY=624512869553236
CLOUDINARY_API_SECRET=bq93nbN31u--D3An_b3pCe8VCa0

# Origens permitidas (separadas por vírgula)
ALLOWED_ORIGINS=http://localhost:5173
